@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 370px;
  background-color: #e8f6ff;

  &.lock {
    overflow: hidden;
  }

  @media (max-width: 530px) {
    background-color: #fff;
  }
}
